<nav class="sidenav">
	<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
	<a routerLink="/charges" routerLinkActive="active">Charges</a>
	<a routerLink="/charges/repartition" routerLinkActive="active">Répartition charges</a>
	<a routerLink="/paiements" routerLinkActive="active">Paiements</a>
	<a routerLink="/paiements/affectation" routerLinkActive="active">Affectation paiements</a>
	<a routerLink="/dette" routerLinkActive="active">Dettes</a>
	<a routerLink="/generation-dettes" routerLinkActive="active">Génération dettes</a>
	<a routerLink="/dettes/par-annee" routerLinkActive="active">Dettes par année</a>
	<a routerLink="/historique-paiements" routerLinkActive="active">Historique paiements</a>
	<a routerLink="/coproprietaires" routerLinkActive="active">Copropriétaires</a>
	<a routerLink="/appartements" routerLinkActive="active">Appartements</a>
</nav>
